.Join1{
  height: 500px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.join {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}

.join h1 {
  color: #333;
  font-size: 2em;
}

.join p {
  color: #666;
  font-size: 1.2em;
  max-width: 600px;
}

.join .shape {
  transition: 0.5s ease-out;
  overflow: hidden;
  width: 100%;
  height: auto;
}

.semicirclegrey,
.semicircleblue {
  bottom: 0;
  width: 100%;
  height: 50%;
}
.semicirclegrey {
  width: 180px;
  height: 90px;
  background-color: #34A853; /* Blue */
  border-top-left-radius: 90px;
  border-top-right-radius: 90px;
  animation: shape-bounce1 10s infinite;
}

.semicircleblue {
  height: 200px;
  width: 200px;
  background-color: #3498db; /* Blue */
  border-radius: 50%;
  animation: shape-scale 6s infinite;
}

@keyframes shape-scale {
    0%, 100% {
        transform: scale(.5);
    }
    50% {
        transform: scale(1.2);
    }
}


@keyframes shape-bounce1 {
    0%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(100%);
    }
}